*__pycache__
*zommer_env_bootstrap
*.venv
*SimpleHTR
*runs

*.ipynb_checkpoints
*.DS_Store
*.ipynb
*.model
*.json
*.npy
*.npz
*.pth
*.nii
*.pdf
*.mp4
*.mov
*.psd
*.jpg
*.png
*.txt
*.csv
*.rar
*.zip
*.exe
*.xls
*.doc
*.xlsx
*.docx

# remove complete projects
afzal
danwinnick/2023-04-19-pdf_report
danwinnick/2023-05-15-pdf_report_extended
hebafatima429
michaelmelillo
zommer0532